body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 400px;
    min-height: 350px;
    margin: 100px auto;
    background: transparent;
    padding-right: 50px;
    padding-left: 42px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 10px;
    border-radius: 5px;
}

.success {
    background: #d4edda;
    color: #155724;
}

.error {
    background: #f8d7da;
    color: #721c24;
}
.success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Make it occupy the full height of the container */
    text-align: center;
    color: #155724;
    background: rgba(212, 237, 218, 0.9); /* Light green background */
    border: 1px solid #c3e6cb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

