{% extends 'layout.html' %}

{% block content %}
<div class="hero-section">
    <h1 class="welcome-title">Welcome to <span class="highlight">Farm Connect</span></h1>
    <p class="welcome-text">Connecting farmers directly to consumers and retailers.</p>
</div>

<div class="button-section">
    <a href="/fertility" class="big-button">Predict Fertility</a>
    <a href="/add_product" class="big-button">Add Products</a>
    <a href="/products" class="big-button">View Products</a>
    <a href="/market_prices" class="big-button">Market Price</a>

</div>
{% endblock %}
