{% extends 'layout.html' %}

{% block content %}
<h1>Available Products</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Farmer</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product[0] }}</td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
            <td>{{ product[5] }}</td>
            <td>{{ product[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
